html, body {
    margin: 0;
    padding: 0;
    background-color: #ffe4ba;
    color: #432000;
    font-family: 'color-tube', 'Fira Sans', sans-serif;
    user-select: none;
}

@font-face {
    font-family: color-tube;
    src: url(ColorTube.ttf);
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

img {
    width: 150px;
    margin: 0 0 0 93px;
}

input {
    height: 25px;
    background-color: #FFFDF8;
    border: 5px solid #4c3513;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'color-tube', 'Fira Sans', sans-serif;
    margin: 10px 0;
}

input, select, textarea{
    color: #4c3513;
}

button {
    height: 65px;
    color: #4c3513;
    background-color: #936a2a;
    border: 5px solid #4c3513;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'color-tube', 'Fira Sans', sans-serif;
}

button:hover {
    background-color: #4c3513;
    color: #ffe4ba;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#shopping-list {
    margin: 10px auto;
}

ul li {
    font-size: 20px;
    background-color: #FFFDF8;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)
}

ul li:hover {
    background-color: #FFECC7;
    cursor: pointer;
}